@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');
body{
    padding-left: 50px;
    padding-right: 50px;
    background-image: linear-gradient(135deg,gray, white);
    background-repeat: inherit;
    width: auto;
    height: auto;
}
section{
    font-family: 'Roboto', sans-serif;
    font: 70pt;
    display: flex;
    flex-wrap: nowrap;
    padding-left: 400px;
    padding-top: 100px;
    width: auto;
    height: 650px;
    background-image: linear-gradient(135deg, rgb(64, 38, 98), rgb(57, 0, 166));
background-repeat: inherit;
}


    

    aside {
        padding-left: 15px;
        font-family: 'Roboto', sans-serif;
        background: #302F4D;
        margin-right: 1pt;
        width: 200px;
        height: 750px;
        float: right;
        color: #B7E3CC;
    }
    dd{
        font-size: 20px;
        padding-bottom: 15px;
        padding-top: 5px;
    }
    dt{
        font-size: 25px;
        font-weight: 400;
        padding-bottom: 5px;
    }

h2{
    font-size: 40pt;

    color: teal;
    
    text-shadow: 0 0 3em 1em rgba(0,0,0,0.1);
}



.cut{
    font-family: 'Roboto', sans-serif;
  right: 43%;
  top: 8%;


  position: absolute;



}



ul{
    color: #778da9;


    
}

li, a{
 
   color:  #B7E3CC;
    display: inline;
    text-decoration: none;

    position: relative;
    padding: 0 0 0.4em;
transition: all 0.5s;
    margin: 0 0 0 5em;
    text-shadow: 0 0 1em 1em rgba(170, 163, 163, 0.712);
}


 a:hover{
    min-width: 15em;

        border-bottom: 1pt solid;

    text-align: left;
        padding-right: 80px;
        min-width: 20px;
        font-stretch: semi-expanded;

    text-shadow: 0 0 0.1pt whitesmoke;
    font-size: 12pt;
    
} 
footer{
    display: flex;
text-align: end;
    flex-direction:column-reverse;
    flex-wrap: wrap;
    
}
